@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Lufga';
  src: url('../src/assets/fonts/LufgaRegular.ttf')format(tff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('../src/assets/fonts/LufgaItalic.ttf')format(tff);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lufga';
  src: url('../src/assets/fonts/LufgaBold.ttf')format(tff);
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Lufga';
  src: url('../src/assets/fonts/LufgaBlack.ttf')format(tff);
  font-weight: 800;
  font-style: bold;
}

@font-face {
  font-family: 'Lufga';
  src: url('../src/assets/fonts/LufgaExtraBold.ttf')format(tff);
  font-weight: 900;
  font-style: bold;
}

@font-face {
  font-family: 'Lufga';
  src: url('../src/assets/fonts/LufgaExtraBoldItalic.ttf')format(tff);
  font-weight: 900;
  font-style: italic;
}


@theme {
  --color-orbit-bg: #111b49;
  --color-orbit-bgSec: #1c2a68;
  --color-orbit-cyan: #0efdc1;
  --color-orbit-green: #3A974C;
  --color-orbit-light: #f4f7fe;

  --color-orbit-black: #1e1e1e;
  --color-orbit-accent: #8DC1FF;
  --color-orbit-blue: #2388ff;
  --color-orbit-text: #14150F;
  --color-orbit-ta: #2C2C2E;
  --color-orbit-orange: #fbbc04;
  --color-orbit-light-green: #3a97ac;
  --color-orbit-red: #ea4335;
  --color-orbit-wa: #A3AED0;

  --color-orbit-modaltext: #a1a1aa;

  --color-orbit-btn: #6B7280;
  --font-sans: 'Lufga', ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--color-orbit-light);
  font-famil: var(--font-sans);
  color: var(--color-orbit-ta);
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;

}

.btn-orange-main {
  background: var(--color-orbit-orange);
  color: var(--color-orbit-light);
  width: 7.5rem;
}

.btn-blue-main {
  background: var(--color-orbit-blue);
  color: var(--color-orbit-light);
  width: 7.5rem;
}

.btn-red-main {
  background-color: var(--color-orbit-red);
  color: var(--color-orbit-light);
  width: 7.5rem;
}

.btn-green-main {
  background-color: var(--color-orbit-green);
  color: var(--color-orbit-light);
  width: 7.5rem;
}